.slots{
    margin-bottom: 40px;
}
.slot{
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.slot.free{
    color: green;
    border: solid 1px green;
}
.slot.busy{
    color: red;
    border: solid 1px red;
}
.slot.not-user{
    color: red;
    border: solid 1px red;
    text-decoration: line-through;
}

input[type="submit"]{
    color: green;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: white;
    border: solid 1px green;
}
.errors ul{
    list-style: none;
    color: red;
    font-weight: bold;
}
.errors ul li{
    margin-bottom: 5px;
}